@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #ecb3ab5d;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  background-color: #b9abee;
  flex-basis: 1000px;
  min-height: 95vh;
  border-radius: 25px;
  padding: 30px;
}
h1 {
  text-align: center;
  color: #f8d1eb;
  font-size: 36px;
  text-transform: uppercase;
  position: relative;
  width: 300px;
  margin: 0 auto;
}
h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 2px;
  background-color: #f6474d;
  border-radius: 5px;
}
h3 {
  color: #baf8c0;
  font-size: 24px;
  padding: 5px 0;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #4c012c;
}
#form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 5px;
  padding: 10px 0;
}
.task_name {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #00397a;
  font-size: 20px;
  flex-grow: 1;
}
.task_name input {
  padding: 10px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: unset;
  background-color: #cbcbaa;
  font-size: 18px;
}

.task_priority {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #00397a;
  font-size: 20px;
}
.task_priority select {
  padding: 10px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: unset;
  background-color: #cbcbaa;
  font-size: 18px;
}
.task_date {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #00397a;
  font-size: 20px;
}
.task_date input {
  padding: 10px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: unset;
  background-color: #cbcbaa;
  font-size: 18px;
}
.task_submit input {
  padding: 10px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: unset;
  background-color: #42d369;
  font-size: 18px;
  color: #00397a;
}
input:focus,
select:focus {
  outline: 2px solid #4c012c;
}
.task_submit input:focus {
  outline: unset;
}
.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  padding: 10px;
  color: #00397a;
  font-size: 20px;
}
.search input {
  width: 200px;
}
.filter select {
  width: 150px;
}
.sort select {
  width: 150px;
}
.by_date input {
  width: 150px;
}
.search input,
.filter select,
.sort select,
.by_date input {
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  border: unset;
  background-color: #cbcbaa;
  font-size: 18px;
}
.edit_area {
  background-color: #cbcbaa;
  padding:10px 15px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.edit_area .edit_area_delete_btn{
  background-color: #8a004e;
  color: #fff;
  border: unset;
}
.edit_area input ,.edit_area select{
  height: 35px;
  background-color: unset;
  border: 2px solid #4c012c;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 18px;
}
.edit_area input:focus,.edit_area select:focus{
  outline: unset;
}
.edit_area .close_area{
flex-grow: 1;
display: flex;
justify-content: flex-end;
}
.edit_area .close_area .close_btn{
  height: 35px;
  width: 35px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  border: unset;
  font-size: 18px;
}
table,
thead,
tbody,
tr {
  width: 100%;
  display: block;
}
table thead {
  background-color: #d54738;
  border-radius: 5px;
  margin-top: 20px;
  color: #d0c5eb;
  font-size: 20px;
}
table tbody {
  border: 2px solid #280577;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 16px;
}
table tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
table tr th,
table tr td {
  flex-basis: 120px;
  text-align: center;
}
table tr th:nth-of-type(3),
table tr td:nth-of-type(3){
  flex: 1;
}
table tr th:nth-of-type(7),
table tr td:nth-of-type(7){
  flex-basis: 150px;
}

table tr td:nth-of-type(1),
table tr th:nth-of-type(1),
table tr td:nth-of-type(2),
table tr th:nth-of-type(2) {
  flex: 0;
  flex-basis: 70px;
}
/* The checkbox_container */
.checkbox_container {
  display: block;
  position: relative;
  padding-left: 55px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox_container .checkmark {
  position: absolute;
  top: 0;
  left: 15px;
  height: 25px;
  width: 25px;
  border-radius: 8px;
  background-color: #baf8c0;
}
.checkbox_container .checkmark_1{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* On mouse-over, add a green background color */
.checkbox_container:hover input ~ .checkmark {
  background-color: #09ffe6a9;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
  background-color: #7c00f7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  top: 3px;
  left:7px;
  width: 8px;
  height: 12px;
  border: solid #ffffff;
  border-radius: 4px;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn {
  background: unset;
  border: unset;
  height: 30px;
  width: 30px;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  margin-left: 10px;
}
.delete {
  color: red;
}
.check {
  color: #018073;
}
.edit {
  color: #7c00f7;
}
/* edit input Filed style */
.editInputStyle{
  height: 35px;
  width: 120px;
  background-color: unset;
  border: 2px solid #4c012c;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 15px;
}
.editInputStyle:focus{
  outline: unset;
  box-shadow: 0px 0px 10px #4c012b70;
}
.editInputStylePriority{
  width: 90px;
}
.editInputStyleName{
  width: 200px;
}